background{
    background-color: #52BE80;
}
.center {
    text-align: center;
}

header{
    background-color: #33AF4B;
    font-family: 'Abril Fatface', cursive;

}

main{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    
}
