<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Orbitron|Russo+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link href="/css/main.css" rel="stylesheet">

        <title>SustainEdibility</title>

    </head>

    <body>
        <header class = "center">
            <h1>SustainEdibility</h1>
        </header>
        <main class = "center">
            <h2>Add a new food type below</h2>
            <form class="center" action="/newType" method="post">
                Food name:<br>
                <input type="text" name="foodname"><br>
                <br>
                <!-- Is it meat?:<br>
                <input type="radio" name="i" value="True">Yes<br>
                <input type="radio" name="type" value="False">No<br> -->
                <br>
                What is the footprint in g CO2 / kg food? (Please search this up, we would be grateful)
                <input type="number" name="carbon" min="1" max="10000000">
                <br>
                What is the footprint in L water / kg food? (Please search this up, again we would be grateful)
                <input type="number" name="water" min="1" max="10000000">
                <br>
                <input type="submit" name="submit">


            </form>
        </main>
        <footer>

        </footer>
    </body>

</html>
